@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Roboto+Slab&family=Ubuntu:wght@300&display=swap');

.sec1
{
    border:solid 5px black;
    height:45rem;
    margin: 0;
}
.hr
{
    background-color: rgb(6, 30, 30);
    width: 55%;
    border: 1px;
    padding:9rem;
    transform: rotate(90deg) ;
    
    
}